StudentSchema (2).xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="性别">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="女"/>
				<xs:enumeration value="男"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="年龄">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="19"/>
				<xs:enumeration value="20"/>
				<xs:enumeration value="21"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="学生名册">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="学生" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="学生">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="姓名"/>
				<xs:element ref="性别"/>
				<xs:element ref="年龄"/>
			</xs:sequence>
			<xs:attribute name="学号" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="姓名">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="张三"/>
				<xs:enumeration value="李四"/>
				<xs:enumeration value="王二"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
